* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  @media (max-width: 780px) {
    align-items: flex-end;
    flex-direction: column;
    padding: 24px;
  }
}

.logo {
  background: url("../img/logo.svg") no-repeat;
  height: 139px;
  width: 275px;
}

.spacer {
  width: 84px;
  @media (max-width: 780px) {
    height: 36px;
  }
}

.text {
  width: 418px;
  & p {
    margin-top: 4px;
    @media (max-width: 780px) {
      margin-top: 16px;
    }
  }
  @media (max-width: 780px) {
    width: 100%;
  }
}
